<div>
    <div class="btn-tray">   
        <button id="new_item" class="btn btn-primary" (click)="openItem()">New Item</button>&nbsp;
        <button id="export" class="btn btn-primary" (click)="export()">Export</button>
    </div>

    <div class="header">
        <h1>{{title}}</h1>
    </div>

    <div class="item-table">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Item Description</th>
                <th>Item Type</th>
                <th>Cost ($)</th>
                <th>Remove</th>
            </thead>
            <tbody>
                <tr *ngFor="let row of itemData">
                    <td>{{row['item_name']}}</td>
                    <td>{{row['item_description']}}</td>
                    <td>{{row['item_type']}}</td>
                    <td>{{row['cost']}}</td>
                    <td><button (click)="deleterow(row['item_id'])">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
