<div>
    <div class="btn-tray">   
        <button id="new_allocation" class="btn btn-primary" (click)="openAllocation()">New Allocation</button>&nbsp;
        <button id="export" class="btn btn-primary" (click)="export()">Export</button>
    </div>

    <div class="header">
        <h1>{{title}}</h1>
    </div>

    <div class="allocation-table">
        <table class="table">
            <thead>
                <th>Allocation ID</th>
                <th>Allocated To</th>
                <th>Item</th>
                <th>Project</th>
                <th>Allocation Date</th>
                <th>PO No</th>
                <th>PO Amt</th>
                <th>Life Time</th>
            </thead>
            <tbody>
                <tr *ngFor="let row of allocationData">
                    <td>{{row['allocation_id']}}</td>
                    <td>{{row['allocated_to']}}</td>
                    <td>{{row['item']}}</td>
                    <td>{{row['project']}}</td>
                    <td>{{row['allocation_date']}}</td>
                    <td>{{row['po_no']}}</td>
                    <td>{{row['po_amount']}}</td>
                    <td>{{row['start_date']}} to {{row['end_date']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
